.header{
    background-color: rgba(93, 236, 255, 0.6);
    
}

.aboutMe{
background-color: rgba(109, 255, 101, 0.8);
}

.contactForm{
    background-color:rgba(255, 247, 101, 0.7) ;
}

.resume{
background-color:rgba(137, 102, 255, 0.6) ;
}